*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

ul{
    list-style-type: none;
}

.morePicture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1.5rem;
    button{
        padding: 0.75rem;
        font-size: 1.25rem;
        border: none;
        cursor: pointer;
    }
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";